@media (max-width: 375px) { 

    .banner_content p {
        font-size: 3rem!important;
    }

  }
 @media (max-width: 575.98px) { 

    .banner_content p {
        font-size: 3.5rem;
    }

  }

 @media (min-width: 375px) and (max-width: 426px) { 

    .list .img_special {
        position: absolute;
        bottom: 3%;
        left: 0%;
    }

  }